body
{
    text-align: center;
    margin:0%;
    padding:50%;
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightgrey ;
}
.box
{
    position: absolute;
    width: 300px;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: black ;
    text-align: center;
}
h1
{
    color: red;
    text-transform: none;
    font-weight: 700;
}
.box input[type="text"], .box input[type="password"], .box input[type="email"]
{
    border: 0%;
    background: none;
    display: block ;
    margin: 20px auto;
    text-align: center;
    border-color: 5px black;
    padding: 14px 19px;
    width: 220px;
    outline:auto;
    color: brown;
    border-radius: 24px;
    transition: 0.25px;
}
.box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="email"]
{
    width: 270px;
}
.box input[type="button"]
{
    border: 25px;
    background:pink;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3% black;
    padding: 14px 15px;
    width: 220px;
    outline: black;
    color: black;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}